:root {
  --font-size : 1.1em;
}

body {
  margin : 0;
  display : flex;
  justify-content: center;
  align-items: center;
  min-width: 420px;
  min-height: 100vh;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}


label { 
  text-align: left;
}

.form {
  display : flex;
  flex-direction: column;
  background-color: #101010;
  padding : 30px;
  border-radius: 10px;
  min-width: 320px;
}

.label {
  grid-area : label;
  font-size: var(--font-size);
}

.input {
  grid-area : input;
  padding : 10px 10px;
  font-size: var(--font-size);
}

.button {
  grid-area : button;
  flex : 1;
}

.error {
  grid-area : error;
  color : rgb(253, 86, 119);
}


.formField {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
  "input" 
  "error";
  margin-bottom : 20px;
}






@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
