:root {
  --small-font-size : 1em;
  --medium-font-size : 1.5em
}

body {
  margin : 0;
  height : 100vh;
  display : flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(10, 18, 18);
  color : white;
  font-size: var(--medium-font-size);
}

input {
  font-size: var(--small-font-size);
}



button {
  font-size: var(--font-size);
  padding : 10px 70px;
  width : 100%;
}

.error {
  color : rgb(188, 0, 38);
}